version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5450:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - dms_network

  redis:
    image: redis:7
    container_name: redis_cache
    restart: always
    ports:
      - "6380:6379"
    networks:
      - dms_network

  minio:
    image: minio/minio
    container_name: minio_storage
    restart: always
    environment:
      MINIO_ROOT_USER: ${AWS_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${AWS_SECRET_ACCESS_KEY}
    command: server /data --console-address ":9001"
    ports:
      - "9005:9000"
      - "9006:9001"
    volumes:
      - minio_data:/data
    networks:
      - dms_network

  django:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django_app
    restart: always
    env_file: .env
    depends_on:
      - db
      - redis
      - minio
    ports:
      - "8000:8000"
    networks:
      - dms_network
    command: >
      sh -c "
        python manage.py migrate &&
        python manage.py createadmin &&
        python manage.py runserver 0.0.0.0:8000
      "

volumes:
  postgres_data:
  minio_data:

networks:
  dms_network:
    driver: bridge
